* {
  box-sizing: border-box;
}

a {
  color: #268bd2;
  text-decoration: none;
}

a strong {
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
  margin-top: 1.01rem;
  border-bottom: 1px solid #e4e4e4;
}

h2 {
  font-size: 1.5rem;
  margin-top: 1.24rem;
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

p {
  line-height: 1.39rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #303030;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

pre {
  color: #d3d0c8;
  background-color: #2d2d2d;
  border-radius: 0.168rem;
  display: block;
  font-size: .8rem;
  line-height: 1.4;
  margin-bottom: 1.90rem;
  margin-top: 1.88rem;
  overflow: auto;
  padding: 0.26rem 0.48rem;
  white-space: pre;
  word-break: break-all;
  word-wrap: break-word;
}

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}

blockquote p:last-child {
  margin-bottom: 0;
}

@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 0;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #313131;
  letter-spacing: -.025rem;
}

/* layout */

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.5;
}

@media (min-width: 38em) {
  html {
    font-size: 20px;
  }
}

body {
  color: #515151;
  background-color: #fff;
}

.wrapper {
  position: relative;
  width: 100%;
}

.container {
  max-width: 38rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 38em) {
  .container {
    max-width: 32rem;
  }
}

@media (min-width: 56em) {
  .container {
    max-width: 49rem;
  }
}

/* header */

.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2.12rem;
}

/* footer */

.copyright {
  margin-top: 7.22rem;
  font-size: 0.78rem;
  color: #888888;
}

/* sidebar */

#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -18rem;
  width: 18rem;
  visibility: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: .875rem;
  color: rgba(255,255,255,.6);
  background-color: #202020;
  transition: all .3s ease-in-out;
}

#sidebar-anchor {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#sidebar-anchor:active,
#sidebar-anchor:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

@media (min-width: 30em) {
  #sidebar {
    font-size: .75rem;
  }
}

#sidebar a {
  font-weight: normal;
  color: #fff;
}

.sidebar-item {
  padding: 1rem;
  font-size: 1.11em;
}

.sidebar-item p {
  margin: 0 0 0.6rem 0;
}

.sidebar-item h1,
.sidebar-item h2,
.sidebar-item h3,
.sidebar-item h4,
.sidebar-item h5,
.sidebar-item h6 {
  font-size: 1.11em;
  color: #f2f2f2;
}

.sidebar-item p:last-child {
  margin-bottom: 0;
}

.sidebar-item .author .name,
.sidebar-item .author .email {
  margin-top: 0.46rem;
  margin-bottom: 0.12rem;
}

.sidebar-item .athuor .name .nick {
  display: inline-block;
  margin-left: 0.26rem;
}

.sidebar-item .author .bio {
  margin: 0.55rem 0 0.69rem 0;
}

.sidebar-nav-item {
  display: block;
  padding: .5rem 1rem;
}

.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: none;
  background-color: rgba(255,255,255,.1);
  border-color: transparent;
}

@media (min-width: 48em) {
  .sidebar-item {
    padding: 1.5rem;
  }

  .sidebar-nav-item {
    padding-left:  1.5rem;
    padding-right: 1.5rem;
  }
}

#sidebar-checkbox {
  display: none;
}

label[for="sidebar-checkbox"] {
  position: absolute;
  top: .7rem;
  left: 1rem;
  display: block;
  padding: .25rem .75rem;
  color: #444444;
  background-color: #fff;
  border-radius: 0;
  cursor: pointer;
}

label[for="sidebar-checkbox"]:before {
  display: inline-block;
  width: 1rem;
  height: .75rem;
  content: "☰";
}

label[for="sidebar-checkbox"]:active:before,
#sidebar-checkbox:focus ~ label[for="sidebar-checkbox"]:before,
#sidebar-checkbox:checked ~ label[for="sidebar-checkbox"]:before {
  content: "☰";
}

@media (min-width: 30.1em) {
  label[for="sidebar-checkbox"] {
    position: fixed;
  }
}

@media print {
  label[for="sidebar-checkbox"] {
    display: none;
  }
}

.wrapper,
#sidebar,
label[for="sidebar-checkbox"] {
  backface-visibility: hidden;
}

.wrapper,
label[for="sidebar-checkbox"] {
  transition: transform .3s ease-in-out;
}

#sidebar-checkbox:checked + #sidebar {
  z-index: 10;
  visibility: visible;
}
#sidebar-checkbox:checked ~ #sidebar,
#sidebar-checkbox:checked ~ .wrapper,
#sidebar-checkbox:checked ~ label[for="sidebar-checkbox"] {
  transform: translateX(18rem);
}

.header h2.title {
  color: #505050;
  font-size: 1.26rem;
  margin-bottom: 0;
  margin-top: 0.23rem;
}

.title a {
  color: #505050;
  text-align: center;
}

.title a:hover {
  color: #888888;
}

/* article */

#content .article {
  margin-bottom: 1.23rem;
}

#article.article {
  margin-bottom: 4rem;
}

#content .date,
#article.article .title {
  color: #303030;
  margin-top: 0;
}

#content .date,
#article.article .date {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}
