<h3 class="title"><a href="{{article._path}}">{{article.title}}</a></h3>
<span class="date">{{article.date}}</span>
{{#if article.description}}
<p class="description">{{article.description}}</p>
{{/if}}
