<a class="title" href="{{article.slug}}"><h3>{{article.title}}</h3></a>
<span class="date">{{article.date}}</span>
{{#if article.description}}
<p class="description">{{article.description}}</p>
{{/if}}
